@import "../../Assets/Theme/_var.scss";

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $background-2;
  border-radius: 2.4rem 2.4rem 0 0;
  overflow: hidden;

  .nav-pills {
    &.nav {
      justify-content: space-between;
      .nav-item {
        flex: auto;
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
        .nav-link {
          background: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0.5rem 0.2rem;
          font-size: 0.9rem;
          min-width: 5.2rem;
          height: 6rem;
          width: 100%;
          border-radius: 100%;
          color: $black;
          svg {
            width: 1.6rem;
            height: 1.6rem;
            margin-bottom: 0.5rem;
          }
          span {
            line-height: 1.5rem;
          }

          &.active {
            background: transparent;
            color: $baseColor;
            svg {
              path {
                fill: $baseColor;
              }
            }
          }
        }
      }
    }
  }
}
