@import "~bootstrap/scss/bootstrap";
@import "./Assets/Theme/_var.scss";

body {
  margin: 0;
  font-family: $baseFont, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 60.6666%;
}

html,
body,
#root {
  height: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.small-title {
  font-size: 1.6rem;
  color: $black;
  font-weight: 500;
}
